*,
*:after,
*:before {
  margin: 0;
  padding: 0;
}

input,
button,
a {
  outline: none;
  font-family: inherit;
  color: inherit;
}

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

/* Variables */
:root {
  --blue: 52, 152, 219;
  --green: 46, 204, 113;
  --red: 231, 76, 60;
  --yellow: 241, 196, 15;
  --gray: 236, 240, 241;
  --black: 55, 61, 63;
}

/* Body */
body {
  font-family: "ubuntu";
  color: rgb(var(--black));
}

/* Container */
.container {
  max-width: 90%;
  margin: auto;
}

/* Navigation bar */
.nav {
  display: flex;
  background-color: rgb(var(--blue));
  list-style: none;
}

.nav .nav__item {
  margin: 1em;
}

.nav__item .nav__link {
  text-decoration: none;
  text-transform: capitalize;
  color: rgb(var(--gray));
}

.nav__item .nav__link:hover {
  text-decoration: underline;
}

/* Form */
.form .form__group {
  margin: 1em 0;
}

.form .form__item {
  width: 100%;
  padding: 1em 0.5em;
  border: 2px solid rgb(var(--gray));
  transition: 0.3s border-color;
}

.form .form__item:hover,
.form .form__item:focus {
  border-color: rgb(var(--blue));
}

/* Btn */
.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  padding: 0.8em;
  border: 1px solid transparent;
  transition: 0.3s;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
}

.btn.btn_block {
  display: block;
  width: 100%;
}

.btn.btn__primary {
  border-color: rgb(var(--blue));
  color: rgb(var(--blue));
}

.btn.btn__dark {
  border-color: rgb(var(--black));
  color: rgb(var(--black));
}

.btn.btn__success {
  border-color: rgb(var(--green));
  color: rgb(var(--green));
}

.btn.btn__danger {
  border-color: rgb(var(--red));
  color: rgb(var(--red));
}

.btn.btn__primary:hover {
  background-color: rgb(var(--blue));
  color: rgb(var(--gray));
}

.btn.btn__dark:hover {
  background-color: rgb(var(--black));
  color: rgb(var(--gray));
}

.btn.btn__success:hover {
  background-color: rgb(var(--green));
  color: rgb(var(--gray));
}

.btn.btn__danger:hover {
  background-color: rgb(var(--red));
  color: rgb(var(--gray));
}

/* Text */
.text__success {
  color: rgb(var(--green));
}

.text__danger {
  color: rgb(var(--red));
}

.text__primary {
  color: rgb(var(--blue));
}

/* Background  */
.bg__primary {
  background-color: rgb(var(--blue));
}
.bg__success {
  background-color: rgb(var(--green));
}
.bg__danger {
  background-color: rgb(var(--red));
}
.bg__light {
  background-color: rgb(var(--gray));
}

/* Badges */
.badge {
  font-size: 0.7em;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.5em;
}

.badge.badge__primary {
  color: rgb(var(--gray));
  background-color: rgb(var(--blue));
}
.badge.badge__success {
  color: rgb(var(--gray));
  background-color: rgb(var(--green));
}
.badge.badge__danger {
  color: rgb(var(--gray));
  background-color: rgb(var(--red));
}
.badge.badge__dark {
  color: rgb(var(--gray));
  background-color: rgb(var(--black));
}
/* Users */
.users {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.users .users__item {
  margin: 1em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.users__item .users__img-box {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  overflow: hidden;
}

.users__item .users__img {
  display: block;
  width: 100%;
}

.users__item .users__text {
  text-align: center;
  padding: 0.5em;
}

/* Alerts */
.alert {
  padding: 0.5em;
  margin-top: 1em;
  font-size: 0.8em;
}

.alert.alert_danger {
  background-color: rgb(var(--red));
  color: rgb(var(--gray));
}

/* User */

.profile .profile__header {
  margin: 1em 0;
}

.profile .profile__introduce {
  display: flex;
  flex-direction: column;
}

.profile__img-box .profile__img {
  display: block;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

.profile__img-box .profile__name {
  text-align: center;
  padding: 0.5em;
}

.profile__info .profile__text {
  margin-top: 1em;
  font-size: 0.9em;
  line-height: 1.6;
}

.profile .profile__badges {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;
}

.profile__repos .profile__repo {
  line-height: 1.6;
  margin-bottom: 0.5em;
  padding: 1em;
  background-color: rgba(var(--gray), 0.5);
}

.profile__repo .profile__repo-link {
  color: rgb(var(--blue));
  text-decoration: none;
}

.profile__repo .profile__repo-link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 40em) {
  .container {
    max-width: 65%;
  }

  .users {
    flex-direction: row;
  }

  .users .users__item {
    display: block;
    flex-basis: 33%;
  }

  .users__item .users__img-box {
    width: 6em;
    height: 6em;
    margin: auto;
  }

  .users__item .users__btn {
    text-align: center;
  }

  .profile .profile__introduce {
    flex-direction: row;
  }

  .profile__introduce .profile__img-box {
    flex-basis: 30%;
    flex-grow: 3;
  }
  .profile__introduce .profile__info {
    flex-basis: 50%;
    flex-grow: 1;
  }

  .profile .profile__badges {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
}
